#wpcontent{
    background: linear-gradient(to bottom right, #FFF, #234172);
}
.plugin-admin-image{
    max-width: 100%;
    width: auto;
    border-radius: 10px 70px 70px 10px;
    box-shadow: 6px 0px 21px;
}
.input-text.form-control{
    border-radius: 0px 10px 10px 0px;
}
.plugin-admin-panel{
    text-align: center;
}
.plugin-head-title{
    text-align: center;
}
.plugin-head-image{
    display: block;
    position: relative;
    margin: 0 auto;
}
a.logo{
    border-image-outset: unset;
}
@media  (max-width:400px){
    #chart_div>div>div, #chart_div2 >div>div{
        max-width: 350px!important;
    }
}
